<div class="form-group">
  <label for="newsEmail" class="card-subtitle text-blue" aria-label="Endereço de email">
    Endereço de email para notificação.
  </label>

  <div class="form-control-button">
    <input class="col-fill input-block" type="email" (keyup.enter)="onSubscribe()" placeholder="Seu endereço de email"
      tabindex="1" [formControl]="email" id="newsEmail">
    <span class="error">Endereço de email inválido</span>
    <button tabindex="2" role="button" class="col btn-small" (click)="onSubscribe()">Inscrever</button>
  </div>
  <!-- <span *ngIf="showError(email) && isSubmitted" class="text-danger">Endereço inválido</span> -->
</div>
