:host {
  .cls-1 {
    clip-path: url(#clip-logo);
  }

  .nest-path {
    fill: #e0234e;
    fill-rule: evenodd;
  }

  .fire-path-3 {
    fill: #ffc24a;
  }

  .fire-path-4 {
    fill: #ffa712;
  }

  .fire-path-5 {
    fill: #f4bd62;
  }

  .fire-path-6 {
    fill: #ffa50e;
  }

  .fire-path-7 {
    fill: #f6820c;
  }

  .fire-path-8 {
    fill: #fde068;
  }

  .fire-path-9 {
    fill: #fcca3f;
  }

  .fire-path-10 {
    fill: #eeab37;
  }

  .cls-11 {
    fill: #0d6fd1;
  }

  .cls-12 {
    fill: #1976d2;
  }

  .cls-13 {
    fill: #fff;
  }
}
