<uig-navbar>

  <uig-logo></uig-logo>

</uig-navbar>

<div itemscope itemtype="http://schema.org/Blog" id="top" class="site">
  <div class="paper">

    <h1>Posts</h1>

    <div class="row flex-spaces">
      <div itemscope itemtype="http://schema.org/BlogPosting" class="card" *ngFor="let post of links$ | async">
        <div itemprop="blogPost" class="card-body">
          <h4 itemprop="headline" class="card-title">{{post.title}}</h4>
          <h5 class="card-subtitle">
            Escrito por <span itemprop="author">{{post.author}}</span> em <span itemprop="datePublished">{{post.date | date}}</span>
          </h5>
          <p class="card-text">{{post.description}}</p>
          <a class="card-link" [routerLink]="post.route">Ver conteúdo</a>
          <!-- <a class="card-link" href="#">Second link</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<uig-footer></uig-footer>
