<uig-navbar>

  <uig-logo></uig-logo>

</uig-navbar>

<div itemscope itemtype="http://schema.org/Blog" id="top" class="site">
  <div class="paper">

    <h1>Posts</h1>

    <div class="row flex-spaces">
      <div class="card" *ngFor="let post of links$ | async">
        <div itemprop="blogPost" class="card-body">
          <h4 itemprop="about" class="card-title">{{post.title}}</h4>
          <h5 itemprop="author" class="card-subtitle">Guilherme Siquinelli</h5>
          <p class="card-text">{{post.description}}</p>
          <a class="card-link" [routerLink]="post.route">Ver conteúdo</a>
          <!-- <a class="card-link" href="#">Second link</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
