<uig-navbar>

  <uig-logo></uig-logo>

</uig-navbar>

<section id="top" class="site" *ngIf="post$ | async as post;">

  <article itemscope itemtype="http://schema.org/BlogPosting" class="paper">

    <!-- <ng-container *ngIf="post.cover">
      <img [src]="post.cover" [attr.alt]="post.name">
    </ng-container> -->

    <h1 itemprop="name headline" class="article-title">
      <a itemprop="mainEntityOfPage url" [routerLink]="post.route">{{post.title}}</a>
    </h1>
    <meta itemprop="author" [attr.content]="post.author">
    <meta itemprop="datePublished" [attr.content]="post.date">
    <meta *ngIf="post.updated" itemprop="dateModified" [attr.content]="post.updated">

    <p class="article-meta">
      Escrito por <span>{{post.author}}</span> em <span>{{post.date | date:'longDate'}}</span>.
    </p>

    <!-- <p class="text-lead">{{post.description}}</p> -->

    <!-- This is where Scully will inject the static HTML -->
    <scully-content></scully-content>

  </article>

  <!-- <hr> -->

  <!-- <h4 itemprop="pageEnd">O conteúdo foi útil?</h4> -->

</section>

<uig-footer></uig-footer>
