<uig-navbar>

  <uig-logo></uig-logo>

</uig-navbar>

<div itemscope itemtype="http://schema.org/AboutPage" id="top" class="row site">
  <div class="sm-12 md-8 col">
    <div class="paper">
      <div class="demo-title">
        <div class="row flex-center">

          <!-- <img src="assets/logo.svg" class="no-border"> -->

          <!-- <uig-logo width="256px"></uig-logo> -->

          <div class="text-center">
            <h1>Seek Tech</h1>
            <h3>Anotações pra quem busca tecnologia</h3>
          </div>
        </div>

        <div itemscope itemtype="http://schema.org/SocialMediaPosting" class="row flex-center child-borders">
          <a itemprop="url" href="https://twitter.com/guiseek" rel="noreferrer" target="_blank">
            <i itemprop="url" class="fab fa-twitter"></i>
          </a>
          <a itemprop="url" href="https://github.com/guiseek" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a itemprop="url" href="https://pt.stackoverflow.com/users/18521/gui-seek" target="_blank">
            <i class="fab fa-stack-overflow"></i>
          </a>
          <a itemprop="url" href="https://www.linkedin.com/in/guilherme-siquinelli-2012a668" target="_blank" rel="nofollow">
            <i class="fab fa-linkedin"></i>
          </a>
          <a itemprop="url" href="https://www.npmjs.com/~guiseek" target="_blank" rel="nofollow">
            <i class="fab fa-npm"></i>
          </a>
        </div>
        <div class="row flex-center child-borders">
          <a class="paper-btn margin" href="/">Get PaperCSS</a>
          <a class="paper-btn margin current" href="/docs/">Documentation</a>
          <a class="paper-btn margin" href="/about/">About</a>

          <a href="https://github.com/rhyneav/papercss" target="_blank" class="paper-btn margin">Github</a>
        </div>

      </div>
      <div class="to-top">
        <a href="/sobre#top" class="paper-btn margin">^</a>
      </div>


      <div class="section">
        <h2>Gui Seek</h2>

        <div class="row flex-spaces">
        </div>
      </div>
    </div>
  </div>
  <div itemprop="ownershipFundingInfo" class="sm-12 md-4 col sidebar">

    <div class="paper">
      <h3 class="sidebar-title" style="text-align:center">
        <a href="/docs">Documentation</a>
      </h3>

      <p>
        <img src="/assets/images/old-gui-seek.jpg" alt="float-left">
        Meu nome é Guilherme Siquinelli, mas podem me chamar de @guiseek, tenho estudado tecnologia por mais de uma década.
      </p>
    </div>
  </div>
</div>
